.home {
    height: 86%;

    .background {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.3;
        background-image: url('../../src/assets/backgrounds/j11695922651.png');
        background-size: cover;
    }
}