.user-card {
    .user-data-area {
        align-self: center;

        .user-points {
            background-color: #1976d2;
            color: #fff;
            font-size: 30px;
            font-style: normal;
            font-weight: bold;
            padding: 22px;
            border-radius: 100%;
            height: 100px;
            width: 100px;
        }
    }
}